In [1]:
import pandas as pd
import numpy as np
import requests
import html5lib
import matplotlib
import matplotlib.pyplot as plt

In [2]:
def adquire_new_df():
    dfs = pd.read_html('https://en.wikipedia.org/wiki/The_World%27s_Billionaires')
    return dfs
dfs = adquire_new_df()

In [3]:
def adquire_init_df():
    data = pd.read_csv("../data/processed/data.csv", index_col=0)
    return data
data = adquire_init_df()

In [4]:
year = input('Indica un año entre 2017 y 2010:')
year

Indica un año entre 2017 y 2010: 2010

'2010'

In [5]:
def select_year(str):
    data_year = str
    error = 'ValueError'
    if data_year == '2010':
        data_new = dfs[11]
        return data_new
    elif data_year == '2011':
        data_new = dfs[10]
        return data_new
    elif data_year == '2012':
        data_new = dfs[9]
        return data_new
    elif data_year == '2013':
        data_new = dfs[8]
        return data_new
    elif data_year == '2014':
        data_new = dfs[7]
        return data_new
    elif data_year == '2015':
        data_new = dfs[6]
        return data_new
    elif data_year == '2016':
        data_new = dfs[5]
        return data_new
    elif data_year == '2017':
        data_new = dfs[4]
        return data_new
    else:
        raise ValueError('Value not admited')
 

data_new = select_year(year)

In [6]:
data_new.head()

,No.,Name,Net worth (USD),Age,Nationality,Source(s) of wealth
0,1,Carlos Slim & family,$53.5 billion,70,Mexico,"América Móvil, Grupo Carso"
1,2,Bill Gates,$53.0 billion,54,United States,Microsoft
2,3,Warren Buffett,$47.0 billion,79,United States,Berkshire Hathaway
3,4,Mukesh Ambani,$29.0 billion,53,India,Reliance Industries
4,5,Lakshmi Mittal,$28.7 billion,60,India,Arcelor Mittal

In [7]:

def delete_columns(df):
    
    # define valid columns
    valid_columns = ['Name', 'Net worth (USD)']
    # create new df with valid columns
    data_new = df[[x for x in df.columns if x in valid_columns]]
    
    return data_new

data_new = delete_columns(data_new)
data_new

                   Name Net worth (USD)
0  Carlos Slim & family   $53.5 billion
1            Bill Gates   $53.0 billion
2        Warren Buffett   $47.0 billion
3         Mukesh Ambani   $29.0 billion
4        Lakshmi Mittal   $28.7 billion
5         Larry Ellison   $28.0 billion
6       Bernard Arnault   $27.5 billion
7          Eike Batista   $27.0 billion
8        Amancio Ortega   $25.0 billion
9         Karl Albrecht   $23.5 billion

In [8]:
def replace_text(df):
    df.loc[:,'Net worth (USD)'] = df['Net worth (USD)'].str.replace('billion', '')
    df.loc[:,'Net worth (USD)'] = df['Net worth (USD)'].str.replace('$', '')
    df.loc[:,'Name'] = df['Name'].str.replace('& family', '')
    df.rename(columns={'Net worth (USD)': 'worth 2010 in BUSD'}, inplace = True)
    
    return data_new
data_new = replace_text(data_new)
data_new

/home/emilio/miniconda3/envs/test_env/lib/python3.7/site-packages/pandas/core/indexing.py:576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/home/emilio/miniconda3/envs/test_env/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

              Name worth 2010 in BUSD
0     Carlos Slim               53.5
1       Bill Gates              53.0
2   Warren Buffett              47.0
3    Mukesh Ambani              29.0
4   Lakshmi Mittal              28.7
5    Larry Ellison              28.0
6  Bernard Arnault              27.5
7     Eike Batista              27.0
8   Amancio Ortega              25.0
9    Karl Albrecht              23.5

In [11]:

def split_column(data_new):
    # new data frame with split value columns 
    new = data_new['Name'].str.split(' ', n = 1, expand = True) 
 
    # making separate last name column from new data frame
    data_new['lastName']= new[1]
    
    # Dropping old Name columns
    data_new.drop(columns =['Name'], inplace = True)
    return data_new
data_new = split_column(data_new)
data_new

KeyError: 'Name'

In [ ]:
def lower_text(df):
    df['lastName'] = df['lastName'].apply(lambda x: x.lower())
    return data_new

data_new = lower_text(data_new)
data_new

In [ ]:
data_new.info()

In [ ]:
def change_column_type_2(df):
    df['worth 2010 in BUSD'] = df['worth 2010 in BUSD'].astype(float)
    return data_new
data_new = change_column_type_2(data_new)
data_new.dtypes

In [ ]:
def final_table(df1,df2):
    df = pd.merge(df1, df2, on='lastName')
    df_final = df.drop_duplicates(subset='lastName', keep='first')
    return df_final
df_final = final_table(data, data_new)
df_final

In [ ]:
# Save first clean table to CSV file
def save_table(df):
    
    df_final.to_csv('../data/processed/df_final.csv')
    return 

# Call function
save_table(df_final)

In [ ]:
def wealth_difference(df):
    df_final['difference_19_10']= df_final['worth 2019 in BUSD']-df_final['worth 2010 in BUSD']
    return df_final
df_final = wealth_difference(df_final)
df_final

In [ ]:
title = 'Diference_BUSD'

def visualize(df, title):
   
    barchart = df.plot.bar(x="lastName", y="difference_19_10", 
                rot=70, title=title)
    return barchart

barchart = visualize(df_final, title)

In [ ]:
def save_barchart(barchart):
    fig = barchart.get_figure()
    fig.savefig('../data/results/'+ title + '.pdf')
    return

save_barchart(barchart)