In [ ]:
# important first import pandas
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
# To connect with daba base
from sqlalchemy import create_engine

In [ ]:
sqlitedb_path = '../data/raw/emiliopatio.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [ ]:
pd.set_option('display.max_rows', 13)
pd.set_option('display.max_columns', 13)

In [ ]:
# list all tables in database

pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

In [ ]:
business = pd.read_sql_query("SELECT * FROM business_info", engine)
business

In [ ]:
business.dtypes

In [ ]:
personal = pd.read_sql_query("SELECT * FROM personal_info", engine)
personal

In [ ]:
personal.dtypes

In [ ]:
rank = pd.read_sql_query("SELECT * FROM rank_info", engine)
rank.head(55)

In [ ]:
rank.dtypes

In [ ]:
rank.isnull().sum()

In [ ]:
# data cleaning to rank


rank.isnull().sum()

In [ ]:
personal.isnull().sum()

In [ ]:
rank.isnull().sum() > 0

In [ ]:
business.isnull().sum()

In [ ]:
null_cols_rank = rank.isnull().sum()

null_cols_rank[null_cols_rank > 0]

In [ ]:
null_cols_rank[null_cols_rank > 0] / len(rank) * 100

In [ ]:
!pip install missingno

In [ ]:
import missingno

%matplotlib inline

# it is necessary to sample data since otherwise the plot would be over-populated 
# .sample coge una muestra tipo random de los datos pero para el ejemplo 
data = rank.sample(2260, random_state=42)
missingno.bar(data);

In [ ]:
len(rank.columns)

In [ ]:
# drop unnamed:0

rank_drop_unnamed = rank.drop('Unnamed: 0', axis = 1)
rank_drop_unnamed

In [ ]:
rank.describe().T

In [ ]:
rank.shape

In [ ]:
rank = rank.dropna()

In [ ]:
rank.shape

In [ ]:
personal.shape

In [ ]:
business.shape

In [ ]:
rank['id']

In [ ]:
personal.shape

In [ ]:
personal['id']

In [ ]:
business.shape

In [ ]:
df_merge_personal_and_business = pd.merge(personal, business, on='id')
df_merge_personal_and_business

In [ ]:
df_all = pd.merge(df_merge_personal_and_business, rank, on='id')
df_all

In [ ]:
df_all.columns

In [ ]:
# This not es valid
df_all.columns = df_all.columns.str.lower()
type(df_all)

In [ ]:
all_columns = list(df_all.columns)
all_columns

In [ ]:
df_all.rename(index={e: e+1 for e in range(len(df_all))}, 
                columns={'lastName': 'lastname',
                         'Source': 'source',
                        'worthChange':'worthchange',
                        'realTimeWorth':'realtimeworth',
                        'realTimePosition':'realtimeposition'}, 
                inplace=True)
df_all

In [ ]:
df_all.loc[45:55, 'age':'position']

In [ ]:
df_all._get_numeric_data()

In [ ]:
df_all['name']

In [ ]:
# probar a√±adiendo esta columna al df y eliminando la columna name
c = df_all['name'].str.lower()
c

In [ ]:
df_all['name'] = df_all['name'].apply(lambda x: x.lower())
df_all

In [ ]:
df_all['lastname'] = df_all['lastname'].apply(lambda x: x.lower())
df_all

In [ ]:
# for drop write inplace = True to final

df_all.drop(['unnamed: 0','unnamed: 0_x', 'unnamed: 0_y', 'realtimeworth'], axis=1, inplace = True)
df_all

In [ ]:
df_all.isnull().sum()

In [ ]:
df_all['age'] = df_all['age'].str.replace('years old', '')
df_all['worthchange'] = df_all['worthchange'].str.replace('millions USD', '')
df_all