In [ ]:
# important first import pandas and numpy
import pandas as pd
import numpy as np
import os


# To connect with daba base
from sqlalchemy import create_engine

In [ ]:
# Create connection
sqlitedb_path = '../data/raw/emiliopatio.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [ ]:
# list all tables in database

pd.read_sql_query("SELECT * FROM sqlite_master WHERE type='table'", engine)

In [ ]:
# 1. Read tables and go to dataframe
# 2. Merge personal and business dataframes
# 3. Merge personal,business and rank dataframes
# 4. Call to function


def init_table():
    business = pd.read_sql_query("SELECT * FROM business_info", engine)
    personal = pd.read_sql_query("SELECT * FROM personal_info", engine)
    rank = pd.read_sql_query("SELECT * FROM rank_info", engine)
    # remove null values from column "position" df range 
    # since if it does not give warning of the type SettingwithCopyWarning
    rank = rank.dropna()
    df_merge_personal_and_business = pd.merge(personal, business, on='id')
    df_all = pd.merge(df_merge_personal_and_business, rank, on='id')
    return df_all
df_all = init_table()

In [ ]:

# Save all tables to CSV file
def save_table(df):
    
    df_all.to_csv('df_all.csv')
    return 

# Call function
save_table(df_all)
df_all

In [ ]:
def delete_columns():
    # define valid columns
    valid_columns = ['id', 'age','worth','lastName', 'position']
    # create new df with valid columns
    data = df_all[[x for x in df_all.columns if x in valid_columns]]
    
    return data

data = delete_columns()
data

In [ ]:
# Remove column text
# See the WARNING in https://www.dataquest.io/blog/settingwithcopywarning/
def replace_text():
    data.loc[:,'worth'] = data['worth'].str.replace('BUSD', '')
    data.loc[:,'age'] = data['age'].str.replace('years old', '')
    data.rename(columns={'worth': 'worth 2019 in BUSD'}, inplace = True)
    return data

data = replace_text()
data

In [ ]:
def lower_text():
    data['lastName'] = data['lastName'].apply(lambda x: x.lower())
    return data

data = lower_text()
data

In [ ]:
def change_column_type(data):
    object_column = list(data.loc[:, data.dtypes == np.object])
    
    for i in object_column:
        if i != 'lastName':
            data[i] = pd.to_numeric(data[i])
        
    return data
data = change_column_type(data)
data

In [ ]:
# Save first clean table to CSV file
def save_table(df):
    
    data.to_csv('data.csv')
    return 

# Call function
save_table(data)

In [ ]:
data.dtypes

In [ ]:
# pasar a int o float all columns 
# descargar el df de fortune 500